manifest {
    name = 'amrevo-flow'
    author = 'Applied Microbiology Research, University of Zurich'
    description = 'Manifest-driven AMREvo sequencing, QC, assembly and typing workflow'
    mainScript = 'main.nf'
    nextflowVersion = '>=24.10.0'
}

params {
    samples = null
    illumina_root = null
    ont_root = null
    outdir = 'results'
}

process {
    errorStrategy = 'terminate'
    shell = ['/bin/bash', '-euo', 'pipefail']
}

profiles {
    standard {
        process.executor = 'local'
    }
    slurm {
        includeConfig 'conf/slurm.config'
    }
}
