process {
    executor = 'slurm'
    queue = 'normal'
    clusterOptions = ''
}

executor {
    queueSize = 30
    submitRateLimit = '10 sec'
}

process {
    withName: VALIDATE_MANIFEST {
        cpus = 1
        memory = '1 GB'
        time = '10 min'
    }

    withName: UNICYCLER {
        cpus = 16
        memory = '64 GB'
        time = '48 h'
    }

    withName: POLISH {
        cpus = 16
        memory = '64 GB'
        time = '48 h'
    }

    withName: MLST {
        cpus = 4
        memory = '16 GB'
        time = '2 h'
    }
}
